{% macro render(menu) %}
  <!--Menu-->
	{% if menu.type == 'option'%}
		<div class="col-md-8 col-lg-8">
			<ul class="{{menu.name}} {{menu.name}}--1">
				{% for item in menu.list %}
					<li class="menu__list">
						<a href={{item.href}} class="menu__link--primary">{{item.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="menu__option">
				<i class="far fa-user"></i>
				<i class="fa-solid fa-right-left"></i>
				<i class="fa-regular fa-heart"></i>
				<i class="fas fa-shopping-cart"></i>
			</div>
		</div>
	{% endif %}
	{% if menu.type == 'search'%}
		<div class="col-md-8 col-lg-8">
			<ul class="{{menu.name}} {{menu.name}}--2">
				{% for item in menu.list %}
					<li class="menu__list">
						<a href={{item.href}} class="menu__link--secondary" style="color: {{menu.color}}">{{item.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="menu__search-container">
				<div class="menu__search">
					<input placeholder="Search" type="text">
					<div class="btn-search">
						<i class="fas fa-search"></i>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
  <!--End / Menu-->
{% endmacro %}
