{% macro render(menu) %}
  <!--MenuMobile-->
	{% if menu.type == 'option'%}
		<div class="col-xs-12 col-sm-12 col-md-12" style="height: 60px;overflow-y: hidden;">
      <div class="menu-mobile__container-overflow">
        <ul class="{{menu.name}}-mobile--1">
          {% for item in menu.list %}
            <li class="menu-mobile__list">
              <a href={{item.href}} class="menu-mobile__link--primary">{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {# <div class="menu-mobile__option">
				<a href="/login.html"><i class="far fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-right-left"></i></a>
        <a href="#"><i class="fa-regular fa-heart"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
			</div> #}
		</div>

	{% endif %}
	{% if menu.type == 'search'%}
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="{{menu.name}}-mobile">
				{% for item in menu.list %}
					<li class="menu-mobile__list">
						<a href={{item.href}} class="menu-mobile__link--secondary" style="color: {{menu.color}}">{{item.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="menu-mobile__search-container">
				<div class="menu-mobile__search">
					<input placeholder="Search" type="text">
					<div class="btn-search">
						<i class="fas fa-search"></i>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
  <!--End / MenuMobile-->


{% endmacro %}
