{% macro render(banner) %}
	<div class="banner banner--{{banner.direction}}" style="color:{{banner.color}}">
		<div class="banner__content">
			<p class="banner__text">{{banner.title}}</p>
			<h2 class="banner__title" style="color:{{banner.color}}">INSTILEY</h2>
			<p class="banner__description">
				{{banner.description}}
			</p>
			<div class="btn__container">
        {% for item in banner.button %}
          {% if banner.color == "black" %}
            <button class="btn btn__primary">{{item.name}}</button>
          {% endif %}
          {% if banner.color == "white" %}
            <button class="btn btn__secondary">{{item.name}}</button>
          {% endif %}
        {% endfor %}

			</div>
		</div>
    <img src={{banner.img}} alt="">
	</div>
{% endmacro %}
