{% macro render(banner) %}
  <!--Banner-->
	<div class="banner banner--{{banner.direction}} banner--{{banner.type}}">
		<div class="banner__content">
			<p class="banner__text">{{banner.title}}</p>
			<div class="banner__title">INSTILEY</div>
			<p class="banner__description">
				{{banner.description}}
			</p>
			<div class="btn__container">
				{% for item in banner.button %}
					{% if banner.color == "black" %}
						<button class="btn btn__primary">{{item.name}}</button>
					{% endif %}
					{% if banner.color == "white" %}
						<button class="btn btn__secondary">{{item.name}}</button>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% if banner.stickey %}
			<div class="banner__stickey">
        <div class="banner__rectangle">{{banner.stickey}}</div>
        <div class="banner__triangle--left"></div>
        <div class="banner__triangle--right"></div>
      </div>

		{% endif %}
		<img src={{banner.img}} alt="">
	</div>
  <!--End / Banner-->
{% endmacro %}
